.body {
    margin: 0;
    padding: 0;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.section1 {
    width: 100%;
    background-image: url(https://www.pngmart.com/files/7/Business-Background-PNG.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100%;
}
.firstText {
    width: 50%;
}
.section2 {
    width: 100%;
    background-color: #f7fbff;
}
.listCard {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    width: 20%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
