html {
    font-family:  'Montserrat';
}
body {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #059ff9;
    border-radius: 0px 0px 10px 10px;
}
.home-logo {
    width: 150px;
    height: auto;
    object-fit: contain;
}
.ref ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ref li {
    float: right;
}
.ref li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
}
.div1 {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 400px;
	flex: 0 1 auto;
}

.div-interna1 {
	width: 522.5px;
	height: 100%;
}

.div-interna2 {
	background-image: url(https://www.pngfind.com/pngs/m/459-4590169_notebook-of-spring-with-message-text-lines-comments.png);
	background-size: 400px 400px;
	background-repeat: no-repeat;
	background-position: center;
	width: 522.5px;
	height: 100%;
}

.h2-div-interna1 {
	text-align: center;
	padding: 30px 10px 20px 10px;
}

.p-div-interna1 {
	text-align: justify;
	padding: 35px 20px 10px 20px;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.section1 {
    width: 100%;
    height: 650px;
    display: flex;
    text-align: center;
    align-items: center;
}
.main-img{
    width: 50%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
}
.firstText {
    width: 50%;
    padding: 60px;
}
.section2 {
    width: 100%;
    height: 450px;
    background-color: ;
    background-image: linear-gradient(#e6f2ff, #afd7ff);
    justify-content: center;
    text-align: center;
}
.textSection2{
    padding: 15px 6%;
}
.listCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    max-width: 200px;
    min-width: 170px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon-card{
    background-color: #059ff9;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 800;
    align-items: center;
    justify-content: center;

}
.secondText {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primeiraimagem {
    height: 250px;
    width: auto;
    object-fit: contain;

}
.secondtxt {
    display: flex;
    width: 70%;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section3 {
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: center;
}
.secondtxt {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4{
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.img-stadist {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.stadist{
    display: flex;
    background-color: #f6f6f6;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 50px;
    margin-right: 50px;
    object-fit: contain;
    content-visibility: auto;
    align-items: center;
    justify-content: center;
}

.big-card {
    display: flex;
    background-color: #01a0fc;
    width: 90%;
    height: 75%;
    border: none;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
}
.subscribe {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 250px);
    font-size: 40px;
    color: #fff;
}
footer {
    display: flex;
    height: 250px;
    background-color: #059ff9;
}
footer ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left: -15px;
}
.footer-logo {
    width: 175px;
}
footer div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 11px;
    width: 40%;
}
footer > ul {
    list-style-type: none;
    margin-left: 15px;
    padding: 15px;;
    color: #fff;
}
.btn {
    transition: background-color 0.2s, color 0.2s;
    border-radius: 6px;
    border: 0 ;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 1em;
}
.btn-blue{
    background-color: #059ff9;
    color: #ffffff;
}
.btn-white{
    background-color: #f6f6f6;
    color: black;

}
.btnKeyup-blue:hover {
    background-color:#0083cf;
}
.btnKeyup-white:hover {
    background-color:#e9e9e9;
}